nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  
  .nav-link {
    font-family: 'Inter', serif;
    text-decoration: none;
    color: #10283f;
    font-size: 30px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #dbad39;
  }
  