@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 4vw;
    flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;      
  width: 50%;
  gap: 1.3vw;
  flex-wrap: wrap;
}
.nav-link {
  font-family: 'Inter';
  text-decoration: none;
  color: #10283f;
  font-size: clamp(14px, 1.2vw, 18px);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #dbad39;
}

.nav-link.active {
  color: #dbad39;
}

.art-deco{
  font-family: 'Poiret One', sans-serif;
  text-decoration: 'none';
  font-size: 3vh;
  user-select: none;
}

.contact-pill{
  height: 100%;
  font-family: 'Inter';
  text-decoration: none;
  color: #10283f;
  font-size: clamp(14px, 1.2vw, 18px);
  transition: color 0.3s ease;
  display: inline-block;
  background-color: #10283f;
  color: white;
  padding: 1vh 2vh;
  border-radius: 999px;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  z-index: 99;
  cursor: pointer; 
  width: 15%;
  text-align: center;
  margin-left: 4vh;
}

.contact-pill.active{
  color: #dbad39;
}

.footer {
  width: 100%;
  display: flex;
  font-family: 'Inter';
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media (max-width: 768px) {
  nav {
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
  }

  .button-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
  }

  .nav-link {
    font-size: clamp(14px, 4vw, 18px);
  }

  .nav-link.active {
    color: #dbad39;
  }

  .logo-container img {
    height: 60px;
  }
  .contact-pill{
    width: 100%;
  }
}
