.hero-section {
  position: relative;
  width: 100%;
  background-image: url('../assets/Pointing.jpg'); 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  overflow: hidden;
  display: flex;
  align-items: start;
  color: white;
  overflow: hidden;
  flex-direction: column;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 40, 63, 0.95); 
  z-index: 1;
  opacity: 98%;
  overflow-y: hidden;
}

.content {
  position: relative;
  z-index: 2;
  text-align: start;
  height: 100%;
  padding: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.highlight {
  color: #dbad39;
}

.recuperation{
  font-size: 10vh;
  width: 60%;
  z-index: 99;
  line-height: 1;
  font-family: 'Inter', serif;
}

.sub-text{
  font-size: 3vh;
  width: 40%;
  z-index: 99;
  font-family: 'Inter', serif;
}

.pill {
  font-family: 'Inter', serif;
  margin-top: 90px;
  display: inline-block;
  background-color: #dbad39;
  color: #10283f;
  padding: 1vh 2vh;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3vh;
  font-family: 'Inter', serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  z-index: 99;
  cursor: pointer; 
  width: 15%;
  text-align: center;
}

.pill:hover {
  transform: scale(1.05);
}

.who-we-are {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-around;
  padding: 6vh 4vw;
  gap: 4vh;
  background-color: #f4f4f4;
}

.who-we-are-title {
  font-size: clamp(40px, 8vw, 80px);
  text-align: center;
  font-family: 'Inter', serif;
}

.bottom-text {
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

@media (max-width: 768px) {
  .recuperation {
    font-size: clamp(40px, 10vw, 60px);
    width: 90%;
    text-align: center;
  }

  .sub-text {
    font-size: clamp(16px, 3vw, 20px);
    width: 90%;
    text-align: center;
  }

  .pill {
    width: 60%;
    font-size: clamp(14px, 4vw, 18px);
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .content {
    align-items: center;
    padding: 4vh 2vh;
  }

  .who-we-are {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4vh 2vh;
    gap: 2vh;
  }

  .who-we-are-title {
    font-size: clamp(40px, 10vw, 60px);
    width: 90%;
    text-align: center;
  }

  .bottom-text{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

